<div class="page-show">
  <div class="disaster-container">
    <div class="left-column">
      <div class="img-show">
        <%= cl_image_tag @disaster.photo.key %>
      </div>

      <div class="map-container"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

    <div class="right-column">
      <h1><%= @disaster.name %></h1>
      <p><%= @disaster.description %></p>
      <p><strong>Location:</strong> <%= @disaster.location %></p>
      <p><strong>Intensity:</strong> <%= @disaster.intensity %></p>
      <p><strong>Price:</strong> $<%= @disaster.price %></p>

      <div class="reviews-list">
        <h3>Reviews:</h3>
        <% @disaster.reviews.each do |review| %>
          <div class="reviews-list-item">
            <p><%= review.comment %></p>
            <p><%= review.rating %></p>
          </div>
        <% end %>
      </div>

      <div data-controller="toggle">
        <button data-action="click->toggle#fire" class="btn-search">
          Book This Disaster
        </button>

        <div data-toggle-target="togglableElement" class="d-none">
          <div class="modal-overlay">
            <div class="modal-content">
              <h3>Book <%= @disaster.name %></h3>
              <%= simple_form_for [@disaster, @booking] do |f| %>
                <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
                <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
                <%= f.submit "Book Now"%>
                <button type="button" data-action="click->toggle#fire" class="btn-search" style="width: 100%; margin-top: 1rem;">
                  Cancel
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
