<div class="navbar navbar-expand-sm navbar-lewagon sticky-top">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "logo_natural_disasters.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", disasters_path , class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
          <%# TOGGLE USERS BUTTON %>
          <li class="nav-item">
            <%= button_to "Switch to #{current_user.visitor? ? 'Owner' : 'Visitor'}",
                          toggle_user_role_path,
                          method: :patch,
                          class: "nav-link btn btn-link",
                          form: { class: "d-inline" } %>
          </li>
          <li class="nav-item dropdown">
  <a href="#" class="nav-link d-flex align-items-center p-0" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier",
                  class: "rounded-circle border border-2 border-white shadow",
                  width: 40, height: 40, alt: "User avatar" %>
  </a>
  <ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="navbarDropdown">
    <li><%= link_to "Log out", destroy_user_session_path,
                     data: { turbo_method: :delete },
                     class: "dropdown-item text-center" %></li>
  </ul>
</li>

        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
